# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
.venv312/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints

# Data
dataset/
data/raw/
data/processed/
models/*.pkl
models/*.joblib
models/*metrics.json

# Local secrets
.env

# Local databases / generated warehouse exports
*.db
data/warehouse/*.csv

# VSCode
.vscode/

# Mac
.DS_Store
